@media screen and (max-width: 1359px) {

    .micro-big {
        max-width: 230px;
        right: 0;
        top: -202px;
    }

}

@media screen and (max-width: 1312px) {

    .micro-big {
        max-width: 153px;
    }

}

@media screen and (max-width: 1281px) {

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .micro-big {
        top: -197px;
    }

}
@media screen and (max-width: 1210px) {
    .serbun-reasons {
        max-width: 475px;
    }
}

@media screen and (max-width: 1192px) {

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .micro-big {
        top: -202px;
    }

}

@media screen and (max-width: 1181px) {

    .contact-social-site {
        max-width: 70px;
    }

}

@media screen and (max-width: 1120px) {

    .event-items {
        flex-wrap: wrap;
        row-gap: 25px;
        column-gap: 1px;
    }

}

@media screen and (max-width: 1018px) {

    .serbun-reasons {
        max-width: 420px;
    }

}

@media screen and (max-width: 996px) {

    .commercial-items {
        flex-direction: column;
    }

    .commercial-item {
        width: 75%;
        height: unset;
    }

    .commercial-item-description {
        width: unset;
    }

    .commercial-item-number {
        top: 50%;
        transform: translateY(-50%);
    }

}

@media screen and (max-width: 981px) {

    .contact-item-photo {
        max-width: 388px;
    }

}

@media screen and (max-width: 944px) {

   .as-event-host {
       left: 50%;
       transform: translateX(-50%);
       top: 107px;
   }

}

@media screen and (max-width: 938px) {

    .hashtags {
        display: none;
    }

    .action-items {
        justify-content: center;
    }

}

@media screen and (max-width: 900px) {

    .reasons .container {
        padding: 47px 60px 106px;
        max-width: 90%;
        mix-blend-mode: screen;
        background-image: url("../images/reasons-background-adaptive.png");
        border-radius: 100px;
    }

    .reasons .title-h2 {
        margin: 0 auto 30px auto;
    }

    .list-reasons-items {
        flex-direction: column;
        order: 2;
    }

    .list-reason-item:first-child {
        margin-bottom: 20px;
    }

    .list-reason-item {
        width: 100%;
    }

    .light {
        display: none;
    }

    .reasons .container {
        display: flex;
        flex-direction: column;
    }

    .serbun-reasons {
        order: 1;
        position: unset;
        transform: unset;
        bottom: unset;
        left: unset;
        margin: 0 auto -5px auto;
    }
}

@media screen and (max-width: 898px) {

    .micro-big {
        top: -381px;
    }

}

@media screen and (max-width: 890px) {

    .event-items {
        column-gap: 3px;
    }

}

@media screen and (max-width: 886px) {

    .event-item:last-child::after {
        right: -11px;
    }

}

@media screen and (max-width: 829px) {

    .contact-social-site {
        max-width: 55px;
    }

    .contact-item-phone {
        font-size: 35px;
    }

}

@media screen and (max-width: 814px) {

    .contact-text {
        max-width: 100%;
    }

}

@media screen and (max-width: 804px) {

    .reasons .title-h2 {
        line-height: 85%;
    }

}

@media screen and (max-width: 785px) {

    .wrapper-back {
        background-image: url("../images/main-background-adaptive.png");
    }

    .comp {
        display: none;
    }

    .adapt {
        display: block;
    }

    .basic-hashtag {
        display: none;
    }

    h1 {
        font-size: 155px;
        margin-bottom: 30px;
    }

    .alexandr {
        margin-right: unset;
    }

    .main-items {
        order: 3;
        justify-content: center;
        text-align: center;
    }

    .main-advantages {
        order: 2;
    }

    .action-items {
        order: 1
    }

    .as-event-host {
        position: relative;
        margin: 0 auto -8px auto;
        transform: unset;
        left: unset;
        top: unset;
        z-index: 2;
    }

    .action-items {
        position: relative;
        z-index: 3;
    }

    .micro-big {
        top: -458px;
    }

}

@media screen and (max-width: 740px) {

    .contact-item-phone {
       font-size: 25px;
    }

    .main-advantages {
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

}

@media screen and (max-width: 739px) {

    .main-advantages {
        flex-wrap: wrap;
        column-gap: 3px;
        row-gap: 30px;
    }

}

@media screen and (max-width: 711px) {

    .contact-social-sites {
        column-gap: 16px;
    }

    .contact-item-photo {
        max-width: 303px;
    }

}

@media screen and (max-width: 629px) {

    .trust-item {
        width: 229px;
        height: 167px;
    }

    .trust-item img {
        width: 50%;
    }

}

@media screen and (max-width: 609px) {

    .title-h2 {
        line-height: 85%;
    }

}

@media screen and (max-width: 605px) {

    .event-items {
        justify-content: center;
    }

    .etc {
        text-align: center;
    }

}

@media screen and (max-width: 567px) {

    .contact-item-photo {
        max-width: 267px;
    }

}

@media screen and (max-width: 529px) {

    .contact-text {
        margin-bottom: 30px;
    }

    .contact-item-common {
        width: 100%;
        margin-bottom: 68px;
    }

    .contact-items {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact-social-sites {
        justify-content: space-between;
    }

    .contact-social-site {
        max-width: 45px;
    }

    .contact-item-phone {
        text-align: center;
    }

    .contact-item-photo {
        max-width: 100%;
        order: 2;
        position: relative;
        right: 10px;
        bottom: 0;
    }

    footer {
        border-radius: 77px 77px 0px 0px;
        z-index: 100;
        position: relative;
    }

}

@media screen and (max-width: 513px) {

    h1 {
        font-size: 105px;
    }

    .list-events {
        display: none;
    }

    .list-events-adaptive {
        display: block;
    }

    .main {
        padding-bottom: 0;
    }

    .main-items {
        display: none;
    }

    .main-descriptions {
        align-items: center;
        text-align: center;
        margin: 0 auto;
    }

    .main-advantages {
        margin-bottom: 0;
        position: relative;
        bottom: -58px;
        margin-top: 46px;
    }

    .main-items-adaptive {
        display: block;
        padding-top: 150px;
        margin-bottom: 96px;
    }

    .list-events-continue {
        padding-top: 40px;
        padding-bottom: 90px;
    }

    .list-events-description {
        font-size: 15px;
    }

    .host-event-text {
        text-align: center;
    }

    .reasons .container {
        border-radius: 45px;
    }

    .trust-item {
        width: 188px;
        height: 145px;
    }

    .reasons {
        padding-bottom: 80px;
    }

    .commercial .title-h2 {
        margin-bottom: 50px;
    }

    .commercial {
        padding-bottom: 90px;
    }

    .trust {
        padding-bottom: 80px;
    }

    .trust .title-h2 {
        margin-bottom: 33px;
    }

    .contact-text {
        font-size: 15px;
    }

    .micro-big {
        max-width: 131px;
        top: 229px;
    }

}

@media screen and (max-width: 511px) {

    .commercial-item-description {
        font-size: 15px;
        line-height: 20px;
    }

    .commercial-item-number {
       width: 85px;
        height: 136px;
        font-size: 30px;
    }

    .commercial-item:first-child .commercial-item-number span:last-child {
        right: -15px;
    }

    .commercial-item:nth-child(3) .commercial-item-number span:last-child {
        bottom: -32px;
        right: -21px;
    }

    .commercial-item:last-child .commercial-item-number span:last-child {
        bottom: -65px;
        right: -53px;
    }

    .commercial-item-description {
        margin-left: 15px;
    }


}

@media screen and (max-width: 500px) {

    .logo {
        max-width: 36px;
    }

    .header-text, .header-phone {
        display: none;
    }

    .header-social-sites {
        column-gap: 25px;
    }

    .call-adaptive {
        display: block;
    }

    .title-h2, .title-h2 span {
        font-size: 70px;
    }

    .title-h2 span {
        display: block;
    }

    .reasons .container {
        padding: 47px 35px 50px;
    }

    .list-reason {
        padding: 30px 30px;
        font-size: 15px;
    }

    footer {
        height: unset;
        padding: 60px 0;
    }

}

@media screen and (max-width: 488px) {

    .main-micro {
        display: block;
        position: absolute;
        top: 218px;
        left: -51px;
        z-index: 1;
    }

    .as-event-host {
        margin: 0 auto -34px auto;
    }

    .as-event-host img {
        position: relative;
        z-index: 2;
    }

    .commercial-items {
        align-items: flex-end;
    }

    .commercial-item {
        width: 84%;
        padding: 30px 16px 40px 28px;
    }

}

@media screen and (max-width: 471px) {

    .header {
        margin-bottom: 40px;
    }

}

@media screen and (max-width: 470px) {

    .host-event-text {
        text-align: center;
        margin-bottom: 0;
        font-size: 40px;
    }

}

@media screen and (max-width: 431px) {

    .main-descriptions {
        font-size: 15px;
    }

    .trust-item {
        width: 167px;
        height: 126px;
    }

}

@media screen and (max-width: 467px) {

    .contact-item-photo {
        bottom: -4px;
    }

}

@media screen and (max-width: 422px) {

    h1 {
        font-size: 92px;
    }


}

@media screen and (max-width: 390px) {

    .trust-item {
        width: 148px;
        height: 111px;
    }

}

@media screen and (max-width: 387px) {

    .main-micro {
        max-width: 170px;
    }

}

@media screen and (max-width: 385px) {

    .host-event-text {
        font-size: 25px;
    }

    .reasons .container {
        padding: 47px 28px 50px;
    }

}

@media screen and (max-width: 375px) {

    h1 {
        font-size: 76px;
    }

    .main-btn {
        width: 291px;
        font-size: 43px;
        padding: 50px 30px;
    }

    .commercial-item-title {
        font-size: 36px;
    }

}

@media screen and (max-width: 369px) {

    .title-h2, .title-h2 span {
        font-size: 58px;
    }

}

@media screen and (max-width: 352px) {

    .main-micro {
        top: 162px;
    }

}

@media screen and (max-width: 351px) {

    .trust-items {
        justify-content: center;
    }

    .trust-item {
        width: 260px;
        height: 185px;
    }

    .commercial-item-description {
        font-size: 14px;
    }

}
